/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/10/2019, 15:20:43
    Author     : jorge.bilbao
*/
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.body {
  background: url("#{resource['img:fondo.jpg']}");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #0288d1;
  background-repeat: no-repeat;
  height: auto;
  border-top: solid 10px #0288d1;	
}

#top {
    top:0;
    /background: white;/
/*    position:fixed;*/
    margin-left: 0%;
    margin-right:0%;
    heigth: 50px;
    margin-top: 0px;
    margin-bottom: opx;
  
    /*    border: 1px solid #87CEFA;*/
}

#middle {
    
    width: 1200px;
    heigth: 100px;
    /*    margin-top: 1px;*/
    margin-left: 22%;
    margin-right:5.2%;
    margin-top: 12%;
    margin-bottom: 12%;

    /* border: 1px solid #87CEFA;*/
}

#bottom {
    /*    margin-top: 3px;*/
    text-align: center;

    width: 1200px;
    height: 10px;
    margin-top: 0px;
    margin-left: 5.6%;
    margin-right:5.2%;
/*    background-image: url('../resources/images/bannerPie_1.png');*/
/*    border: 1px solid #87CEFA;*/
}
.centered {
	position:relative;
	height: 100px;
	margin:0 auto;
	padding: 10% 0;
}